<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/nozzleGuy.jpg', width: 89, height: 25, alt: 'Nozzle Logo'}"
  [navbarBrandMinimized]="{src: 'assets/nozzleGuy.jpg', width: 30, height: 30, alt: 'Nozzle Logo'}"
>
  <ul class="nav navbar-nav ml-auto">
    <span *ngIf="usertype == 'Administrator'">
    <li>
      <a class="btn" [routerLink]="['/review']"><i class="icon-envelope-letter"></i> &nbsp;Review Request</a>
    </li>
  </span>
    <li>
      <a class="btn" [routerLink]="['/requests']"><i class="icon-plus"></i> &nbsp;Add Request</a>
    </li>
    <li>
      <a class="btn" [routerLink]="['/login']"><i class="icon-logout"></i> &nbsp;Logout</a>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <!-- Main content -->
  <main class="main">

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<app-footer>
  <span><a href="https://coreui.io">CoreUI</a> &copy; 2018 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer>
