<div class="row">
<div *ngFor="let game of games" class="col-lg-3 d-flex align-items-stretch">
        <div class="card" style="width: 18rem;">
            <img [src] ="game.Img" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{game.Title}}</h5>
            <p class="card-text">{{game.Descript}}</p>
            <h1>Comments: </h1>
            <a [href]="game.Link" class="align-self-end btn btn-primary">See more..</a>
        </div>
</div>
</div>
</div>