<div class="container-fluid">
    <input type="text" [(ngModel)]="queryString" id="search" aria-label="Search" placeholder="Search any game" class="form-control">
    <div class="row">
        <div *ngFor="let game of games | GameFilterPipe: queryString" class="col-lg-3 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <a [href]="game.Link">
                <img [src]="game.Img" class="card-img-top" alt="...">
            </a>
                <div class="card-body">
                    <h5 class="card-title">{{game.Title}}</h5>
                    <p class="card-text">{{game.Descript}}</p> 
                </div>
                <div class="card-footer">
                    <app-comment [title]="game.Title"></app-comment>
                    <app-user-comment [title]="game.Title" [parent]="this"></app-user-comment>
                </div>
            </div>
        </div>
    </div>
</div>