<input type="text" [(ngModel)]="queryString" id="search" placeholder="Search any game" class="form-control">
<div class="row">
<div *ngFor="let game of games | GameFilterPipe: queryString" class="col-lg-3 d-flex align-items-stretch">
        <div class="card" style="width: 18rem;">
            <img [src] ="game.Img" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{game.Title}}</h5>
            <p class="card-text">{{game.Descript}}</p>
            <h1>Comments: </h1>
                <app-comment [title]="game.Title"></app-comment>
            <a [href]="game.Link" class="align-self-end btn btn-primary">See more..</a>
        </div>
    </div>
</div>