<div class="card">
    <form [formGroup]="angForm" (ngSubmit)="gamerequest(angForm)" autocomplete="off">
        <div class="card-header">
            <h1>Request to add a game</h1>
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-game-controller"></i></span>
                </div>
                <input type="text" formControlName="title" class="form-control" placeholder="Game Title" autocomplete="title" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-info"></i></span>
                </div>
                <textarea cols=20 rows=5 formControlName="desc" class="form-control" placeholder="Game Description" autocomplete="desc" required></textarea>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-block btn-success" [disabled]="!angForm.valid">Submit Request</button>
        </div>
    </form>
</div>